openapi: 3.1.0
info:
  title: Spotify Playlist Maker API
  description: API to search, create playlists, and add tracks on Spotify
  version: '1.0.0'
servers:
  - url: https://spotify-baikai.dylansouthard.info
paths:
  /create-playlist:
    post:
      summary: Create a new playlist
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '200':
          description: Playlist created
  /add-tracks:
    post:
      summary: Add tracks to a playlist
      operationId: addTracks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTracksRequest'
      responses:
        '200':
          description: Tracks added
  /search-tracks:
    post:
      summary: Search for a track
      operationId: searchTracks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTracksRequest'
      responses:
        '200':
          description: Track results returned
  /refresh-token:
    post:
      summary: Refresh the user's access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New access token returned
  /login-openai:
    get:
      summary: Initiates Spotify login for ChatGPT plugin
      operationId: loginOpenAI
      responses:
        '302':
          description: Redirects to Spotify OAuth page

  /token-openai:
    post:
      summary: Exchanges authorization code for access token (ChatGPT plugin)
      operationId: tokenOpenAI
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
              required:
                - grant_type
                - code
                - redirect_uri
                - client_id
                - client_secret
      responses:
        '200':
          description: Access token response from Spotify

components:
  securitySchemes:
    OAuth2Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreatePlaylistRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
    AddTracksRequest:
      type: object
      properties:
        playlistId:
          type: string
        uris:
          type: array
          items:
            type: string
      required:
        - playlistId
        - uris
    SearchTracksRequest:
      type: object
      properties:
        query:
          type: string
        limit:
          type: integer
      required:
        - query
    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
      required:
        - refresh_token
security:
  - OAuth2Auth: []
