  /player/play-album:
    put:
      summary: Start playback of an album
      operationId: playAlbum
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context_uri:
                  type: string
              required:
                - context_uri
      responses:
        '204':
          description: Playback started
        '400':
          description: Bad request or playback error
  /albums/search:
    get:
      summary: Search for an album
      operationId: searchAlbums
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: false
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Album search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        artist:
                          type: string
                        uri:
                          type: string
  /artists/top:
    get:
      summary: Get user's top artists
      operationId: getTopArtists
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: false
        - in: query
          name: offset
          schema:
            type: integer
          required: false
        - in: query
          name: time_range
          schema:
            type: string
            enum: [short_term, medium_term, long_term]
          required: false
      responses:
        '200':
          description: List of top artists
          content:
            application/json:
              schema:
                type: object
                properties:
                  artists:
                    type: array
                    items:
                      type: string
openapi: 3.1.0
info:
  title: Spotify Playlist Maker API
  description: API to search, create playlists, and add tracks on Spotify
  version: '1.0.0'
servers:
  - url: https://spotify-baikai.dylansouthard.info
paths:
  /playlists:
    post:
      summary: Create a new playlist
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '200':
          description: Playlist created
  /playlists/{id}/tracks:
    post:
      summary: Add tracks to a playlist by ID
      operationId: addToPlaylist
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTracksRequest'
      responses:
        '200':
          description: Tracks added to playlist
  /tracks/search:
    get:
      summary: Search for a track
      operationId: searchTracks
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Track results returned
  /tracks/liked:
    get:
      summary: Get user's liked tracks
      operationId: getLikedTracks
      responses:
        '200':
          description: List of liked tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    artist:
                      type: string
  /tracks/top:
    get:
      summary: Get user's top tracks
      operationId: getTopTracks
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: false
        - in: query
          name: time_range
          schema:
            type: string
            enum: [short_term, medium_term, long_term]
          required: false
      responses:
        '200':
          description: List of top tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    artist:
                      type: string
  /refresh-token:
    post:
      summary: Refresh the user's access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New access token returned
  /login-openai:
    get:
      summary: Initiates Spotify login for ChatGPT plugin
      operationId: loginOpenAI
      responses:
        '302':
          description: Redirects to Spotify OAuth page

  /token-openai:
    post:
      summary: Exchanges authorization code for access token (ChatGPT plugin)
      operationId: tokenOpenAI
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
              required:
                - grant_type
      responses:
        '200':
          description: Access token response from Spotify
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
                required:
                  - access_token
                  - token_type

components:
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://spotify-baikai.dylansouthard.info/login-openai
          tokenUrl: https://spotify-baikai.dylansouthard.info/token-openai
          scopes:
            playlist-modify-private: Modify private playlists
            playlist-modify-public: Modify public playlists
  schemas:
    CreatePlaylistRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
    AddTracksRequest:
      type: object
      properties:
        uris:
          type: array
          items:
            type: string
      required:
        - uris
    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
      required:
        - refresh_token
security:
  - OAuth2Auth: []
