openapi: 3.1.0
info:
  title: Spotify Playlist Maker API
  description: API to search, create playlists, and add tracks on Spotify
  version: '1.0.0'
tags:
  - name: Playlists
  - name: Tracks
  - name: Albums
  - name: Artists
  - name: Player
  - name: Auth
servers:
  - url: https://spotify-baikai.dylansouthard.info
paths:
  /playlists:
    post:
      tags: [Playlists]
      summary: Create a new playlist
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '200':
          description: Playlist created
  /playlists/{id}/tracks:
    post:
      tags: [Playlists]
      summary: Add tracks to a playlist by ID
      operationId: addToPlaylist
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTracksRequest'
      responses:
        '200':
          description: Tracks added to playlist
  /tracks/search:
    get:
      tags: [Tracks]
      summary: Search for a track
      operationId: searchTracks
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Track results returned
  /tracks/liked:
    get:
      tags: [Tracks]
      summary: Get user's liked tracks
      operationId: getLikedTracks
      responses:
        '200':
          description: List of liked tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    artist:
                      type: string
  /tracks/top:
    get:
      tags: [Tracks]
      summary: Get user's top tracks
      operationId: getTopTracks
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: false
        - in: query
          name: time_range
          schema:
            type: string
            enum: [short_term, medium_term, long_term]
          required: false
      responses:
        '200':
          description: List of top tracks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    artist:
                      type: string
  /refresh-token:
    post:
      tags: [Auth]
      summary: Refresh the user's access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New access token returned
  /login-openai:
    get:
      tags: [Auth]
      summary: Initiates Spotify login for ChatGPT plugin
      operationId: loginOpenAI
      responses:
        '302':
          description: Redirects to Spotify OAuth page

  /token-openai:
    post:
      tags: [Auth]
      summary: Exchanges authorization code for access token (ChatGPT plugin)
      operationId: tokenOpenAI
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                refresh_token:
                  type: string
              required:
                - grant_type
      responses:
        '200':
          description: Access token response from Spotify
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /player/play-tracks:
    put:
      tags: [Player]
      summary: Start playback of a list of tracks
      operationId: playTracks
      description: Try direct URI playback, verify player state, then reuse a private playback buffer playlist if verification fails. Use details=true to distinguish verified direct and fallback outcomes.
      parameters:
        - name: device_id
          in: query
          required: false
          description: Spotify device ID. Omit to target the currently active device.
          schema:
            type: string
            minLength: 1
        - name: details
          in: query
          required: false
          description: Return a JSON playback outcome on success instead of an empty 204.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                uris:
                  type: array
                  minItems: 1
                  description: Spotify track URIs as a JSON array, not a JSON-encoded string.
                  items:
                    type: string
                    pattern: '^spotify:track:[A-Za-z0-9]{22}$'
                  example: ['spotify:track:71kapcyWLxdv7kQpM6jFTv']
              required:
                - uris
      responses:
        '200':
          description: Verified raw or fallback playback (when details=true)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackOutcome'
        '204':
          description: Requested track observed playing, directly or through fallback
        '400':
          description: Invalid input or Spotify playback error
        '409':
          description: Another playback request for this account is in progress
        default:
          description: Spotify error (status/reason preserved), or 502 if verification/fallback fails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackOutcome'
  /player/play-album:
    put:
      tags: [Player]
      summary: Start playback of an album, artist, or playlist context
      operationId: playAlbum
      description: Start an album, artist, or playlist context. This action reports command acceptance; raw-track verification and fallback belong to playTracks.
      parameters:
        - name: device_id
          in: query
          required: false
          description: Spotify device ID. Omit to target the currently active device.
          schema:
            type: string
            minLength: 1
        - name: details
          in: query
          required: false
          description: Return a JSON playback outcome on success instead of an empty 204.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                context_uri:
                  type: string
                  pattern: '^spotify:(album|artist|playlist):[A-Za-z0-9]{22}$'
              required:
                - context_uri
      responses:
        '200':
          description: Context command accepted (when details=true); playback state is not verified by this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackOutcome'
        '204':
          description: Spotify accepted the playback request
        '400':
          description: Bad request or playback error
        default:
          description: Spotify error (status and response preserved), or 502 for an unexpected upstream response or transport failure
  /player/devices:
    get:
      tags: [Player]
      summary: List available Spotify Connect devices
      description: Inspect active/restricted devices when playback fails. This never transfers playback; Spotify may omit unsupported or sleeping devices.
      operationId: getDevices
      responses:
        '200':
          description: Available devices with IDs, names, types, active and restricted flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: [string, 'null']
                        name:
                          type: string
                        type:
                          type: string
                        is_active:
                          type: boolean
                        is_restricted:
                          type: boolean
        default:
          description: Spotify device lookup error, with status and reason
  /albums/search:
    get:
      tags: [Albums]
      summary: Search for an album
      operationId: searchAlbums
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: false
        - in: query
          name: limit
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Album search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        artist:
                          type: string
                        uri:
                          type: string
  /artists/top:
    get:
      tags: [Artists]
      summary: Get user's top artists
      operationId: getTopArtists
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: false
        - in: query
          name: offset
          schema:
            type: integer
          required: false
        - in: query
          name: time_range
          schema:
            type: string
            enum: [short_term, medium_term, long_term]
          required: false
      responses:
        '200':
          description: List of top artists
          content:
            application/json:
              schema:
                type: object
                properties:
                  artists:
                    type: array
                    items:
                      type: string
components:
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://spotify-baikai.dylansouthard.info/login-openai
          tokenUrl: https://spotify-baikai.dylansouthard.info/token-openai
          scopes:
            playlist-modify-private: Modify private playlists
            playlist-modify-public: Modify public playlists
            user-library-read: Read User library
            user-top-read: Read User Top entries
            user-read-playback-state: Get playback state
            user-read-recently-played: Read recently played tracks
            user-modify-playback-state: Modify playback state
            playlist-read-private: Find the reusable private playback buffer
  schemas:
    PlaybackOutcome:
      type: object
      properties:
        ok:
          type: boolean
        outcome:
          type: string
          enum: [raw_verified, fallback_verified, accepted, api_error, fallback_failed]
        requested_mode:
          type: string
          enum: [uris, context_uri]
        effective_mode:
          type: [string, 'null']
          description: uris, context_uri, or playlist_context_fallback on success; null on failure
        spotify_status:
          type: [integer, 'null']
        raw_spotify_status:
          type: [integer, 'null']
        fallback_used:
          type: boolean
          description: Whether fallback was attempted, including attempts that failed
        fallback_reason:
          type: [string, 'null']
        playlist_id:
          type: string
        verification:
          type: [object, 'null']
          properties:
            verified:
              type: boolean
            attempts:
              type: integer
            is_playing:
              type: boolean
            current_uri:
              type: [string, 'null']
            device_id:
              type: [string, 'null']
            device_matches:
              type: boolean
        stage:
          type: string
        reason:
          type: string
        message:
          type: string
        spotify_response:
          description: Sanitized Spotify error response, if any
    CreatePlaylistRequest:
      type: object
      description: Request body to create a new playlist
      properties:
        name:
          type: string
        description:
          type: string
      required:
        - name
    AddTracksRequest:
      type: object
      description: Request body to add tracks to a playlist
      properties:
        uris:
          type: array
          items:
            type: string
      required:
        - uris
    RefreshTokenRequest:
      type: object
      description: Request body to refresh Spotify access token
      properties:
        refresh_token:
          type: string
      required:
        - refresh_token
    TokenResponse:
      type: object
      description: Response returned after token exchange
      required:
        - access_token
        - token_type
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
security:
  - OAuth2Auth: []
